*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  height: 100%;
}

.container-grid{
  display: grid;
  grid-template-areas: 
    'imagem formulario '
  ;
  gap: 10px;
}

.imagem{
  grid-area: imagem;
  
  /* background: green; */
}

.formulario{
  grid-area: formulario;
  /* background-color: red; */
}
.imagem-size{
  width: 100%;
  height: 96%;
}