*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.body{
  background: url('../assets/foto_carro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.fundo{
  background-color: rgba(128, 128, 128, 0.849);
}


.glass{
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.397);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba(180, 5, 5, 0.123);

}